<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>Order</title>
    </head>
    <body>
        <header></header>
        <h1>Order {{ order_number }}</h1>
            <p>
                <b>Name:</b> {{ order.customer_name }}<br>
                <b>Order Placed:</b> {{ order.order_date }}<br>
                <b>Title:</b> {{ order.book_title }}<br>
                <b>Quantity:</b> {{ order.quantity }}
            </p>
    </body>
</html>